<app-toolbar></app-toolbar>
<div class="container">
  <h2>Cadastro de Docente</h2>
  <form [formGroup]="docenteForm" (ngSubmit)="onSubmit()">
    
    <!-- Informações Pessoais -->
    <div class="form-section">
      <h3>Informações Pessoais</h3>
      <div class="form-grid">
        <div class="field">
          <label for="nomeCompleto">Nome Completo</label>
          <input id="nomeCompleto" type="text" pInputText formControlName="nomeCompleto" />
          <div *ngIf="docenteForm.get('nomeCompleto')?.invalid && docenteForm.get('nomeCompleto')?.touched">
            <small class="p-error">Nome completo deve ter entre 8 e 64 caracteres.</small>
          </div>
        </div>

        <div class="field">
          <label for="rg">RG com órgão expedidor</label>
          <input id="rg" type="text" pInputText formControlName="rg" maxlength="20" />
          <div *ngIf="docenteForm.get('rg')?.invalid && docenteForm.get('rg')?.touched">
            <small class="p-error">RG é obrigatório e deve ter órgão expedidor antecedido por um hífen.</small>
          </div>
        </div>
        <div class="field">
          <label for="cpf">CPF</label>
          <input id="cpf" type="text" pInputText formControlName="cpf" mask="999.999.999-99" />
          <div *ngIf="docenteForm.get('cpf')?.invalid && docenteForm.get('cpf')?.touched">
            <small class="p-error">CPF é obrigatório e deve estar no formato esperado: XXX.XXX.XXX-XX.</small>
          </div>
        </div>

        <div class="field">
          <label for="estadoCivil">Estado Civil</label>
          <p-dropdown [options]="estadosCivis" formControlName="estadoCivil" placeholder="Selecione um estado civil"></p-dropdown>
          <div *ngIf="docenteForm.get('estadoCivil')?.invalid && docenteForm.get('estadoCivil')?.touched">
            <small class="p-error">Estado civil é obrigatório.</small>
          </div>
        </div>
        <div class="field">
          <label for="genero">Gênero</label>
          <p-dropdown [options]="generos" formControlName="genero" placeholder="Selecione um gênero"></p-dropdown>
          <div *ngIf="docenteForm.get('genero')?.invalid && docenteForm.get('genero')?.touched">
            <small class="p-error">Gênero é obrigatório.</small>
          </div>
        </div>

        <div class="field">
          <label for="senha">Senha</label>
          <input id="senha" type="password" pInputText formControlName="senha" />
          <div *ngIf="docenteForm.get('senha')?.invalid && docenteForm.get('senha')?.touched">
            <small class="p-error">Senha é obrigatória e deve ter no mínimo 8 caracteres.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="fieldPequeno">
      <label for="naturalidade">Naturalidade</label>
      <input id="naturalidade" type="text" pInputText formControlName="naturalidade" />
      <div *ngIf="docenteForm.get('naturalidade')?.invalid && docenteForm.get('naturalidade')?.touched">
        <small class="p-error">Naturalidade deve ter entre 8 e 64 caracteres.</small>
      </div>
    </div>
    <div class="field">
      <label for="dataNascimento">Data de Nascimento</label>
      <p-calendar id="dataNascimento" formControlName="dataNascimento" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
      <div *ngIf="docenteForm.get('dataNascimento')?.invalid && docenteForm.get('dataNascimento')?.touched">
        <small class="p-error">Data de nascimento é obrigatória.</small>
      </div>
    </div>


    <!-- Contato -->
    <div class="form-section">
      <h3>Contato</h3>
      <div class="contact-grid">
        <div class="fieldPequeno">
          <label for="email">E-mail</label>
          <input id="email" type="text" pInputText formControlName="email" />
          <div *ngIf="docenteForm.get('email')?.invalid && docenteForm.get('email')?.touched">
            <small class="p-error">E-mail é obrigatório e deve estar no formato correto.</small>
          </div>
        </div>
    
        <div class="fieldPequeno">
          <label for="telefone">Telefone</label>
          <input id="telefone" type="text" pInputText formControlName="telefone" mask="(99) 9 9999-9999" />
          <div *ngIf="docenteForm.get('telefone')?.invalid && docenteForm.get('telefone')?.touched">
            <small class="p-error">Telefone é obrigatório e deve estar no formato esperado: (XX) 9 XXXX-XXXX.</small>
          </div>
        </div>
      </div>
    </div>

    <!-- Endereço -->
    <div class="form-section">
      <h3>Endereço</h3>
      <div class="form-grid">
        <div class="field">
          <label for="cep">CEP</label>
          <input id="cep" type="text" pInputText formControlName="cep" (blur)="buscarEndereco()" mask="99999-999" />
          <div *ngIf="docenteForm.get('cep')?.invalid && docenteForm.get('cep')?.touched">
            <small class="p-error">CEP é obrigatório e deve estar no formato correto.</small>
          </div>
        </div>

        <div class="field">
          <label for="logradouro">Logradouro</label>
          <input id="logradouro" type="text" pInputText formControlName="logradouro" readonly />
        </div>

        <div class="field">
          <label for="numero">Número</label>
          <input id="numero" type="text" pInputText formControlName="numero" />
          <div *ngIf="docenteForm.get('numero')?.invalid && docenteForm.get('numero')?.touched">
            <small class="p-error">Número é obrigatório.</small>
          </div>
        </div>

        <div class="field">
          <label for="complemento">Complemento</label>
          <input id="complemento" type="text" pInputText formControlName="complemento" />
        </div>

        <div class="field">
          <label for="bairro">Bairro</label>
          <input id="bairro" type="text" pInputText formControlName="bairro" readonly />
        </div>

        <div class="field">
          <label for="cidade">Cidade</label>
          <input id="cidade" type="text" pInputText formControlName="cidade" readonly />
        </div>

        <div class="field">
          <label for="estado">Estado</label>
          <input id="estado" type="text" pInputText formControlName="estado" readonly />
        </div>

        <div class="field">
          <label for="pontoDeReferencia">Ponto de Referência</label>
          <input id="pontoDeReferencia" type="text" pInputText formControlName="pontoDeReferencia" />
        </div>
      </div>
    </div>

    <!-- Matérias -->
    <div class="form-section">
      <h3>Matérias</h3>
      <div class="form-grid">
        <div class="field">
          <label for="materias">Matérias</label>
          <p-multiSelect [options]="materiasDisponiveis" formControlName="materias" placeholder="Selecione as matérias"></p-multiSelect>
          <div *ngIf="docenteForm.get('materias')?.invalid && docenteForm.get('materias')?.touched">
            <small class="p-error">Você deve selecionar pelo menos uma matéria.</small>
          </div>
        </div>
      </div>
    </div>
    <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <div class="buttons">
      <button pButton type="submit" label="Salvar" (onClick)="showSuccess()" [disabled]="!isSalvavel || !docenteForm.valid"></button>
      <button pButton type="button" label="Editar"  (click)="atualizarDocente()"  disabled [disabled]="!isEditavel || !docenteForm.valid"></button>
      <button pButton type="button" label="Deletar" (click)="confirmDeletarDocente()" disabled [disabled]="!isDeletavel || !docenteForm.valid"></button>
    </div>
  </form>
</div>