<app-toolbar></app-toolbar>
<div class="container">
  <h2>Seus dados:</h2>
  <p-card>
    <ng-template pTemplate="content">
      <p><strong>Nome:</strong> {{ alunoLogado.nomeCompleto }}</p>
      <p><strong>Data de nascimento:</strong> {{ alunoLogado.dataDeNascimento | date:'dd/MM/yyyy' }}</p>
      <p><strong>CPF:</strong> {{ alunoLogado.cpf }}</p>
      <p><strong>Telefone:</strong> {{ alunoLogado.telefone }}</p>
      <p><strong>Gênero:</strong> {{ alunoLogado.genero }}</p>
    </ng-template>
  </p-card>
  <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'"></p-divider>
  <h2>Sua turma:</h2>
  <div *ngFor="let turma of alunoLogado.turmas">
    <p-card>
      <ng-template pTemplate="content" >
        <p><strong>Nome:</strong> {{ turma.nome }}</p>
        <p><strong>Professor:</strong> {{ turma.professor.nomeCompleto }}</p>
        <p><strong>Horario:</strong> {{ turma.horario }}</p>
      </ng-template>
    </p-card>
  </div>
  <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'"></p-divider>
  <h2>Histórico de Notas</h2>
  <p-table [value]="notas" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Turma</th>
        <th>Docente</th>
        <th>Matéria</th>
        <th>Nome da Avaliação</th>
        <th>Data da Avaliação</th>
        <th>Nota</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-nota>
      <tr>
        <td>{{ nota.id || 'N/A'}}</td>
        <td>{{ nota.turma?.nome || 'N/A'}}</td>
        <td>{{ nota.professor?.nomeCompleto || 'N/A' }}</td>
        <td>{{ nota.nomeDaMateria }}</td>
        <td>{{ nota.nomeDaAvaliacao }}</td>
        <td>{{ nota.dataAvaliacao ? (nota.dataAvaliacao | date: 'dd/MM/yyyy') : 'N/A' }}</td>
        <td>{{ nota.nota }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
