<div class="primeiraSecao">
    <h2>Dados:</h2>
    <div>
        <div class="dados-conteiner">
            <div class="dados">
                <p>{{ numeroDeAlunos }}</p>
                <h3>Número de Alunos</h3>
              </div>
              <div class="dados">
                <p>{{ numeroDeDocentes }}</p>
                <h3>Número de Docentes</h3>
              </div>
              <div class="dados">
                <p>{{ numeroDeTurmas }}</p>
                <h3>Número de Turmas</h3>
              </div>
        </div>
    </div>
</div>