<p-toolbar>
    <div class="p-toolbar-group-start">
        <app-menu-lateral></app-menu-lateral>
        <h2>Titulo</h2>
    </div>
    <div class="p-toolbar-group-center">
        <div class="links">
            <a href="home" >Inicio </a>
            <a *ngIf="usuarioADM" href="cadastro-docente">Criar Docente </a>
            <a *ngIf="usuarioADM" href="cadastro-aluno">Criar Aluno </a>
            <a *ngIf="usuarioADM || usuarioDocente"href="cadastro-turma">Criar Turma </a>
            <a *ngIf="usuarioADM || usuarioDocente"href="cadastro-nota">Criar Nota </a>
            <a *ngIf="usuarioADM" href="listagem-docentes">Lista de Docentes </a>
            <a *ngIf="usuarioAluno" href="notas">Notas</a>
        </div>
    </div>
    <div class="p-toolbar-group-end">
        <p-avatar 
        image="user.png" 
        shape="circle" />
    <span class="font-bold text-bluegray-50">
        user
    </span>
    </div>
</p-toolbar>