<app-toolbar></app-toolbar>
<div class="container">
  <h2>Listagem de Docentes</h2>

  <div class="search-bar">
    <input type="text" pInputText placeholder="Buscar docente por nome ou ID..." [(ngModel)]="filtroDocente" style="width: 100%; margin-bottom: 20px;"/>
  </div>
  <div class="docentes-lista">
    <p-card *ngFor="let docente of filtrarDocentes()" class="docente-card">
      <div class="docente-info">
        <h3>{{ docente.nomeCompleto }}</h3>
        <p>ID: {{ docente.id }}</p>
        <p>Contato: {{ docente.telefone || docente.email }}</p>
      </div>
      <div class="p-card-footer">
        <button pButton label="Ver mais" (click)="abrirDetalhesDocente(docente.id)"></button>
      </div>
    </p-card>
  </div>
</div>